body {
    background-color: black;
}
h1{
    text-transform: uppercase;
    /* color: white; */
    font-size: 3rem;
    text-align: center;
}
.poster{
    color: white;
    font-family: "Libre Baskerville", serif;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;

}
.image{
    width: 100%;
    border: 5px solid white ;

}
